@use "sass:color";
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;
@use '../../styles/base' as *;

.pageContainer {
  @include flex-column;
  @include flex-center;
  text-align: center;
  min-height: calc(100vh - 150px);
}

.formContainer {
  background-color: $white;
  box-shadow: $shadow-heavy;
  width: 100%;
  
  @include xs-only {
    max-width: 90%;
    padding: $spacing-md;
    border-radius: $border-radius-md;
  }
  @include sm-up {
    max-width: 450px;
    padding: $spacing-lg;
    border-radius: $border-radius-md;
  }
  @include md-up {
    max-width: 450px;
    padding: $spacing-xl;
    border-radius: $border-radius-md;
  }
  @include lg-up {
    max-width: 450px;
    padding: $spacing-lg; 
    border-radius: $border-radius-md;
  }
  @include xl-up {
    max-width: 500px;
    padding: $spacing-lg;  
    border-radius: $border-radius-lg;
  }
  @include xxl-up {
    max-width: 600px;
    padding: $spacing-xl;  
    border-radius: $border-radius-lg;
  }
  @include xxxl-up {
    max-width: 700px;
    padding: $spacing-xxl; 
    border-radius: $border-radius-xl;
  }
  @include full-hd-up {
    max-width: 800px;
    padding: 70px;
    border-radius: $border-radius-xxl;
  }
  @include uhd-up {
    max-width: 1000px;
    padding: 90px;
    border-radius: $border-radius-xxxl;
  }
  @include uhd-4k-up {
    max-width: 1500px;
    padding: 150px;
    border-radius: $border-radius-xxxl;
  }
}

.heading {
  @extend .riffic-32;
  color: $black;
  
  @include xs-only {
    margin-bottom: $spacing-sm;
  }
  @include sm-up {
    margin-bottom: $spacing-sm;
  }
  @include md-up {
    margin-bottom: $spacing-md;
  }
  @include lg-up {
    margin-bottom: $spacing-md;  
  }
  @include xl-up {
    margin-bottom: $spacing-md;  
  }
  @include xxl-up {
    margin-bottom: $spacing-md;  
  }
  @include xxxl-up {
    margin-bottom: $spacing-lg; 
  }
  @include full-hd-up {
    margin-bottom: $spacing-xl;
  }
  @include uhd-up {
    margin-bottom: $spacing-xl;
  }
  @include uhd-4k-up {
    margin-bottom: $spacing-xxxxl;
  }
}

.formGroup {
  @include xs-only {
    margin-bottom: $spacing-sm; 
  }
  @include sm-up {
    margin-bottom: $spacing-md; 
  }
  @include md-up {
    margin-bottom: $spacing-md;
  }
  @include lg-up {
    margin-bottom: $spacing-md;
  }
  @include xl-up {
    margin-bottom: $spacing-md; 
  }
  @include xxl-up {
    margin-bottom: $spacing-md;  
  }
  @include xxxl-up {
    margin-bottom: $spacing-md;  
  }
  @include full-hd-up {
    margin-bottom: $spacing-lg;
  }
  @include uhd-up {
    margin-bottom: $spacing-lg;
  }
  @include uhd-4k-up {
    margin-bottom: $spacing-xxl;
  }

  .label {
    // Этот класс больше не используется, так как у нас есть placeholder. 
    // Я оставлю его закомментированным, чтобы ты мог его легко восстановить, если понадобится.
    // @extend .gilroy-18;
    // display: block;
    // text-align: left;
    // color: $black;
    // margin-bottom: $spacing-xs;
    // font-weight: 600;
  }

  .input {
    @extend .gilroy-18;
    width: 100%;
    border: 1px solid $gray-medium;
    color: $black;
    
    &::placeholder {
      color: $gray-dark;
      opacity: 1;
    }

    &:focus {
      outline: 2px solid $yellow;
      outline-offset: 2px;
      border-color: $yellow;
    }

    @include xs-only {
      padding: $spacing-xs;
      border-radius: $border-radius-sm;
    }
    @include sm-up {
      padding: $spacing-sm;
      border-radius: $border-radius-sm;
    }
    @include md-up {
      padding: $spacing-sm;
      border-radius: $border-radius-sm;
    }
    @include lg-up {
      padding: $spacing-sm;
      border-radius: $border-radius-sm;
    }
    @include xl-up {
      padding: $spacing-sm;
      border-radius: $border-radius-sm;
    }
    @include xxl-up {
      padding: $spacing-lg;
      border-radius: $border-radius-sm;
    }
    @include xxxl-up {
      padding: $spacing-md;
      border-radius: $border-radius-lg;
    }
    @include full-hd-up {
      padding: $spacing-md;
      border-radius: $border-radius-xl;
    }
    @include uhd-up {
      border-radius: $border-radius-xxl;
      padding: $spacing-lg;
    }
    @include uhd-4k-up {
      border-radius: $border-radius-xxxl;
      padding: $spacing-xxl;
    }
  }
}

.button {
  @include button-primary;
  width: 100%;
  border-radius: $border-radius-xxxxl;
  font-weight: 700;

  @include xs-only {
    font-size: 16px;
    padding: $spacing-xs;
    margin-top: $spacing-md;
  }
  @include sm-up {
    font-size: 16px;
    padding: $spacing-sm $spacing-lg;
    margin-top: $spacing-md;
  }
  @include md-up {
    font-size: 18px;
    padding: $spacing-sm $spacing-xl;
    margin-top: $spacing-md;
  }
  @include lg-up {
    font-size: 20px;
    padding: $spacing-sm $spacing-xl;
    margin-top: $spacing-md;
  }
  @include xl-up {
    font-size: 22px;
    padding: $spacing-sm $spacing-sm;
    margin-top: $spacing-md;
  }
  @include xxl-up {
    font-size: 24px;
    padding: $spacing-md $spacing-xxl;
    margin-top: $spacing-md;
  }
  @include xxxl-up {
    font-size: 28px;
    padding: $spacing-lg $spacing-xxxl;
    margin-top: $spacing-lg;
  }
  @include full-hd-up {
    font-size: 32px;
    padding: $spacing-lg $spacing-xxxl;
    margin-top: $spacing-lg;
  }
  @include uhd-up {
    font-size: 38px;
    padding: $spacing-lg $spacing-xxl;
    margin-top: $spacing-lg;
  }
  @include uhd-4k-up {
    font-size: 50px;
    padding: $spacing-xl $spacing-xxxl;
    margin-top: $spacing-xl;
  }
}

.successMessage {
  @extend .gilroy-18;
  padding: $spacing-sm;
  color: $white;
  background-color: color.adjust($yellow, $lightness: -20%);
  border-radius: $border-radius-sm;
  
  @include xs-only {
    font-size: 14px;
    margin-bottom: $spacing-sm;
  }
  @include sm-up {
    font-size: 16px;
    margin-bottom: $spacing-sm;
  }
  @include md-up {
    font-size: 18px;
    margin-bottom: $spacing-md;
  }
  @include lg-up {
    font-size: 20px;
    margin-bottom: $spacing-md;
  }
  @include xl-up {
    font-size: 22px;
    margin-bottom: $spacing-md;
  }
  @include xxl-up {
    font-size: 24px;
    margin-bottom: $spacing-md;
  }
  @include xxxl-up {
    font-size: 28px;
    margin-bottom: $spacing-lg;
  }
  @include full-hd-up {
    font-size: 32px;
    margin-bottom: $spacing-lg;
  }
  @include uhd-up {
    font-size: 38px;
    margin-bottom: $spacing-xl;
  }
  @include uhd-4k-up {
    font-size: 48px;
    margin-bottom: $spacing-xl;
  }
}

.errorMessage {
  @extend .gilroy-18;
  padding: $spacing-sm;
  color: $maroon;
  background-color: color.adjust($maroon, $lightness: 60%);
  border-radius: $border-radius-sm;
  
  @include xs-only {
    font-size: 14px;
    margin-bottom: $spacing-sm;
  }
  @include sm-up {
    font-size: 16px;
    margin-bottom: $spacing-sm;
  }
  @include md-up {
    font-size: 18px;
    margin-bottom: $spacing-md;
  }
  @include lg-up {
    font-size: 20px;
    margin-bottom: $spacing-md;
  }
  @include xl-up {
    font-size: 22px;
    margin-bottom: $spacing-md;
  }
  @include xxl-up {
    font-size: 24px;
    margin-bottom: $spacing-md;
  }
  @include xxxl-up {
    font-size: 28px;
    margin-bottom: $spacing-lg;
  }
  @include full-hd-up {
    font-size: 32px;
    margin-bottom: $spacing-lg;
  }
  @include uhd-up {
    font-size: 38px;
    margin-bottom: $spacing-xl;
  }
  @include uhd-4k-up {
    font-size: 48px;
    margin-bottom: $spacing-xl;
  }
}

// .instructions {
//   @extend .gilroy-14;
//   color: $gray-dark;
  
//   @include xs-only {
//     margin-top: $spacing-sm;
//   }
//   @include sm-up {
//     margin-top: $spacing-md;
//   }
//   @include md-up {
//     margin-top: $spacing-md;
//   }
//   @include lg-up {
//     margin-top: $spacing-md;
//   }
//   @include xl-up {
//     margin-top: $spacing-md;
//   }
//   @include xxl-up {
//     margin-top: $spacing-md;
//   }
//   @include xxxl-up {
//     margin-top: $spacing-lg;
//   }
//   @include full-hd-up {
//     margin-top: $spacing-lg;
//   }
//   @include uhd-up {
//     margin-top: $spacing-lg;
//   }
//   @include uhd-4k-up {
//     margin-top: $spacing-xl;
//   }
  
//   a {
//     color: $maroon;
//     text-decoration: underline;
//     &:hover {
//       color: color.adjust($maroon, $lightness: 10%);
//     }
//   }
// }