// src/components/WelcomeDesk/SaigakSticker/SaigakSticker.module.scss
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/typography' as t;


.saigakStickerContainer {
  position: relative; 
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-start; 
  
  width: 100%;
  height: auto;
  pointer-events: none; 
  padding: 5px; 

  @include mobile-only {
    padding: 3px;
  }
}

.saigakImage {
  width: 80px; 
  height: auto;
  flex-shrink: 0; 
  z-index: 7; 
  pointer-events: none;
  margin-left: -20px; 
  margin-right: -10px; 
  transform: rotate(-5deg); 
  
  @include xs-only {
    width: 15px;
    margin-left: -10px;
    margin-right: -5px;
  }
  @include sm-up {
    width: 20px;
    margin-left: -12px;
    margin-right: -6px;
  }
  @include md-up {
    width: 50px;
    margin-left: -15px;
    margin-right: -8px;
  }
  @include lg-up {
    width: 60px;
    margin-left: -18px;
    margin-right: -9px;
  }
  @include xl-up {
    width: 70px;
    margin-left: -20px;
    margin-right: -10px;
  }
  @include xxl-up {
    width: 80px;
    margin-left: -22px;
    margin-right: -11px;
  }
  @include xxxl-up {
    width: 90px;
    margin-left: -25px;
    margin-right: -12px;
  }
  @include full-hd-up {
    width: 80px;
    margin-left: -28px;
    margin-right: -14px;
  }
  @include uhd-up {
    width: 150px;
    margin-left: -35px;
    margin-right: -18px;
  }
  @include uhd-4k-up {
    width: 200px;
    margin-left: -45px;
    margin-right: -22px;
  }
}

// .saigakStickerPin { 
//   position: absolute; 
//   width: 30px; 
//   height: auto;
//   z-index: 10; 
//   pointer-events: none;
  
//   @include mobile-only {
//     width: 20px;
//   }
// }

.textBox {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1; 
  flex-grow: 1; 
}
.stickerText {
  @include t.gilroy-14;
  font-weight: 600;
  margin: 0;
  word-break: break-word;
  white-space: pre-wrap;
}

.shape_oval {
  border-radius: 50%;
  @include xs-only { min-width: 10px; min-height: 15px; padding: 2px 5px; }
  @include sm-up { min-width: 70px; min-height: 30px; padding: 6px 12px; }
  @include md-up { min-width: 70px; min-height: 30px; padding: 8px 15px; }
  @include lg-up { min-width: 110px; min-height: 40px; padding: 10px 20px; }
  @include xl-up { min-width: 130px; min-height: 45px; padding: 12px 22px; }
  @include xxl-up { min-width: 150px; min-height: 50px; padding: 15px 25px; }
  @include xxxl-up { min-width: 180px; min-height: 60px; padding: 18px 30px; }
  @include full-hd-up { min-width: 220px; min-height: 70px; padding: 22px 35px; }
  @include uhd-up { min-width: 300px; min-height: 90px; padding: 28px 45px; }
  @include uhd-4k-up { min-width: 400px; min-height: 120px; padding: 35px 55px; }
}

.shape_circle {
  border-radius: 50%;
  flex-shrink: 0;
  @include xs-only { width: 20px; height: 20px; }
  @include sm-up { width: 50px; height: 50px; }
  @include md-up { width: 60px; height: 60px; }
  @include lg-up { width: 70px; height: 70px; }
  @include xl-up { width: 80px; height: 80px; }
  @include xxl-up { width: 90px; height: 90px; }
  @include xxxl-up { width: 110px; height: 110px; }
  @include full-hd-up { width: 130px; height: 90px; }
}

.shape_rectangle {
  border-radius: 5px;
  @include xs-only { max-width: 100px; min-height: 10px; padding: 1px 3px; }
  @include sm-up { max-width: 120px; min-height: 35px; padding: 6px 12px; }
  @include md-up { max-width: 120px; min-height: 40px; padding: 8px 15px; }
  @include lg-up { max-width: 140px; min-height: 45px; padding: 5px 5px; }
  @include xl-up { max-width: 160px; min-height: 50px; padding: 6px 6px; }
  @include xxl-up { max-width: 180px; min-height: 55px; padding: 7px 7px; }
  @include full-hd-up { max-width: 300px; min-height: 70px; padding: 10px 10px; }
}

.bg_white {
  background-color: $white;
  border: 1px solid #ccc;
}

.bg_lightBlue {
  background-color: #e0f2f7;
  border: 1px solid #a8dadc;
}

.bg_yellow {
  background-color: $yellow;
  border: 1px solid darken($yellow, 10%);
}