// src/components/WelcomeDesk/SaigakPositions.module.scss
@use "sass:color";
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as t;

.saigak1 {
  @include xs-only { top: 60px; left: 10px; transform: rotate(10deg); }
  @include sm-up { top: 80px; left: 15px; transform: rotate(12deg); }
  @include md-up { top: 100px; left: 20px; transform: rotate(15deg); }
  @include lg-up { top: 120px; left: 25px; transform: rotate(18deg); }
  @include xl-up { top: 140px; left: 30px; transform: rotate(20deg); }
  @include xxl-up { top: 160px; left: 35px; transform: rotate(22deg); }
  @include xxxl-up { top: 180px; left: 40px; transform: rotate(25deg); }
  @include full-hd-up { top: 300px; left: 845px; transform: rotate(28deg); }
}

.saigak2 {
  @include xs-only { top: 80px; left: 50px; transform: rotate(-8deg); }
  @include sm-up { top: 100px; left: 60px; transform: rotate(-10deg); }
  @include md-up { top: 120px; left: 70px; transform: rotate(-12deg); }
  @include lg-up { top: 140px; left: 80px; transform: rotate(-15deg); }
  @include xl-up { top: 160px; left: 90px; transform: rotate(-18deg); }
  @include xxl-up { top: 180px; left: 100px; transform: rotate(-20deg); }
  @include xxxl-up { top: 200px; left: 110px; transform: rotate(-22deg); }
  @include full-hd-up { top: 750px; left: 400px; transform: rotate(-25deg); }
}

.saigak3 {
  @include xs-only { top: 100px; left: 90px; transform: rotate(5deg); }
  @include sm-up { top: 120px; left: 100px; transform: rotate(7deg); }
  @include md-up { top: 140px; left: 110px; transform: rotate(10deg); }
  @include lg-up { top: 160px; left: 120px; transform: rotate(12deg); }
  @include xl-up { top: 180px; left: 130px; transform: rotate(15deg); }
  @include xxl-up { top: 200px; left: 140px; transform: rotate(18deg); }
  @include xxxl-up { top: 220px; left: 150px; transform: rotate(20deg); }
  @include full-hd-up { top: 380px; left: 1200px; transform: rotate(-10deg); }
}