@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;

.welcome {
  @include section-padding;
  background-color: $light-yellow;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md-down {
    background-attachment: scroll;
    background-size: auto 100%;
    background-position: center;
  }
}

.welcomeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 5;
  position: relative;

  @include md-down {
    gap: 40px;
    align-items: center;
  }
}

.welcomeTitleBox {
  // margin-left: auto;
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: right;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out 0.2s, transform 0.8s ease-out 0.2s;

  @include lg-down {
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid $yellow;
  }
  @include lg-up {
    padding: 30px 40px;
    border-radius: 10px;
    border: 5px solid $yellow;
    }
  &.titleBoxVisible {
    opacity: 1;
    transform: translateY(0);
  }

  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    z-index: 1;
    @include lg-down {
      right: 150px;
      transform: translateX(50%);
      bottom: -20px;
      border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $white;
    }
    @include lg-up {
      left: 50px;
      transform: translateX(-50%);
      bottom: -50px;
      border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid $white;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;

    z-index: 0;
    @include lg-down {
    right: 150px;
    transform: translateX(50%);
    bottom: -35px;
    border-right: 35px solid transparent;
    border-top: 35px solid $yellow;
    }
    @include lg-up {
    left: 50px;
    transform: translateX(-50%);
    bottom: -65px;
    border-right: 60px solid transparent;
    border-top: 60px solid $yellow;
    }
  }
  
  @include lg-up {
    max-width: 700px;
  }
  @include xl-up {
    max-width: 900px;
  }
  @include xxl-up {
    max-width: 950px;
  }
  @include xxxl-up {
    max-width: 1000px;
  }
  @include full-hd-up {
    max-width: 1200px;
  }
  @include uhd-up {
    max-width: 1500px;
  }
  @include uhd-4k-up {
    margin-bottom: 200px;
    max-width: 2500px;
  }

}
.welcomeTitle {
  @extend .riffic-32;
  color: $black;
  text-align: center;
  opacity: 1;
  }

.welcomeMainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include lg-down {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  @include lg-up {
    flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-center;
    gap: 50px;

    }
    @include xl-up {
      flex-direction: row;
      justify-content: flex-start;
      // align-items: flex-center;
      gap: 100px;
  
      }
    @include xxl-up {
      flex-direction: row;
      justify-content: flex-start;
      // align-items: flex-center;
      gap: 120px;
      }
      @include uhd-up {
        flex-direction: row;
        justify-content: flex-start;
        // align-items: flex-center;
        gap: 200px;
    
        }
  
}

.characterImage {
  width: 300px;
  height: auto;
  object-fit: contain;
  display: block;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out 0.4s, transform 0.8s ease-out 0.4s;

  &.imageVisible {
    opacity: 1;
    transform: translateY(0);
  }

  @include xs-only { 
    width: 150px;
  }
  @include sm-up {
    width: 170px;
  }
  @include md-up {
    width: 200px;
  }
  @include lg-up {
    width: 230px;
  }
  @include xl-up {
    width: 250px;
  }
  @include xxl-up {
    width: 270px;
  }
  @include xxxl-up {
    width: 300px;
  }
  @include full-hd-up {
    width: 400px;
  }
  @include uhd-up {
    width: 500px;
  }
  @include uhd-4k-up {
    width: 600px;
  }

}

.textContainer {
  flex: 1;
  text-align: left;
  @extend .gilroy-18;
  // max-width: 600px;

  p {
    margin-bottom: 1.2em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out 0.6s, transform 0.8s ease-out 0.6s;

  &.textVisible {
    opacity: 1;
    transform: translateY(0);
  }

  @include md-down {
    text-align: center;
  }
}