// _variables.scss
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  full-hd: 1920px,
  uhd: 2560px, 
  uhd-4k: 3840px  
);

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;
$spacing-xxxl: 80px;
$spacing-xxxxl: 150px;

$black: #000000;
$orange: #ED9354;
$yellow: #FDE515;
$maroon: #7F2529;
$white: #FFFFFF;
$light-yellow: #FEF8BC;

$gray-light: #F5F5F5;
$gray-medium: #CCCCCC;
$gray-dark: #666666;
$lightBlue: #e0f2f7;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-xxl: 20px;
$border-radius-xxxl: 64px;
$border-radius-xxxxl: 80px;


$transition-fast: 0.15s ease-in-out;
$transition-medium: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;

$shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 4px 16px rgba(0, 0, 0, 0.15);
$shadow-heavy: 0 8px 32px rgba(0, 0, 0, 0.2);