@use "sass:color";
@use 'variables' as *;
@use 'mixins' as *;
@use 'base' as *;
@use 'typography' as t;

$event-colors: (
  'second_hall': #C18356, 
  'summer_terrace': #ebc400 
);

.fc {
    font-family: 'Gilroy', sans-serif;
    color: $gray-dark;
    background-color: transparent; 

    // Общие стили для панели инструментов
    .fc-toolbar-title {
      @include t.gilroy-24;
      color: $black;
      text-align: center;
      flex-grow: 1;

      @include xs-only {
        font-size: 1.2rem; // Уменьшенный размер для лучшей читаемости на мобильных
      }
      @include sm-up {
        font-size: 1.5rem;
      }
      @include md-up {
        font-size: 2rem;
      }
    }

    .fc-button {
      background-color: $yellow !important;
      color: $black !important;
      border: 1px solid $black !important;
      
      @include xs-only {
          font-size: 9px; // Еще меньше на самых маленьких экранах
          padding: $spacing-xs / 2 $spacing-xs;
          border-radius: $border-radius-sm;
      }
      
      @include sm-up {
        padding: $spacing-xs $spacing-xs;
        font-size: 10px;
        border-radius: $border-radius-md;
      }
      
      @include md-up {
        font-size: 12px;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-xl;
      }
      @include lg-up {
        font-size: 14px;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-xl;
      }
      @include xl-up {
        font-size: 14px;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-xl;
      }
      @include xxl-up {
        font-size: 16px;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-xl;
      }
      @include xxxl-up {
        font-size: 18px;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-xl;
      }
      @include full-hd-up {
        font-size: 20px;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-xl;
      }
    }

    .fc-button-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: $spacing-sm;

      @include md-up {
        margin-top: 0;
      }
    }

    // Стили для заголовков дней недели
    .fc-col-header-cell,
    .fc-day-header {
      background-color: $light-yellow;
      padding: $spacing-xs 0;
      border-bottom: 1px solid $yellow;
      text-transform: uppercase;

      @include xs-only {
        padding: $spacing-xs 0;
      }

      .fc-col-header-cell-cushion {
        color: $black;
        
        @include xs-only {
          font-size: 0.7em;
        }
        @include sm-up {
          font-size: 0.8em;
        }
        @include md-up {
          font-size: 1em;
        }
      }
    }

    // Стили для ячеек дней
    .fc-daygrid-day {
      border: 1px solid $gray-light; // Уменьшим толщину границы для мобильных
      padding: 2px;
    }

    // Стили для номера дня
    .fc-daygrid-day-number {
      padding: 2px;
      font-weight: 600;
      color: $gray-dark;

      @include xs-only {
        font-size: 0.7rem; // Еще меньше для мобильных
      }
    }

    // Стили для событий
    .fc-event {
      border-radius: $border-radius-sm;
      margin: 1px; // Уменьшим отступы
      padding: 1px 2px;
      font-size: 0.85em;
      cursor: pointer;
      border: none !important;
      transition: all $transition-fast;
      box-shadow: $shadow-light;
      color: $white;

      @each $room-name, $event-color in $event-colors {
        &.event-#{$room-name} {
          background-color: $event-color;
          &:hover {
            box-shadow: $shadow-medium;
            transform: translateY(-1px);
          }
        }
      }
      
      // Адаптивные стили для текста события
      .fc-event-title,
      .fc-event-time {
        color: $white;
        font-weight: 500;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;

        @include xs-only {
            font-size: 0.6em; // Очень маленький шрифт для умещения
        }
      }
    }

    // Стили для меток времени в timeGrid
    .fc-timegrid-slot-label {
      color: $gray-dark;
      font-size: 0.9em;
      font-weight: 500;

      @include xs-only {
          font-size: 0.7em;
      }
    }
    
    // Стили для индикатора "сейчас"
    .fc-timegrid-now-indicator-line {
      border-color: $orange !important;
    }

    .fc-timegrid-now-indicator-arrow {
      border-color: transparent transparent transparent $orange !important;
    }

    .fc-timegrid-now-indicator-timeline {
      background-color: $orange !important;
    }

    .fc-scroller {
      @include no-scrollbar;
    }
}