// src/components/LazyImage/LazyImage.module.scss
.lazyContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .placeholder {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }