// src/components/PublicCalendar/EventSection.module.scss

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as t;

.eventSectionWrapper {
  background-color: $yellow;
  background-image: url('/images/delivery-back.webp');
  background-repeat: repeat;
  background-size: 800px;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .contentContainer {
    width: 100%;
    background-image: url('/images/comunity-back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    z-index: 2;
    padding: $spacing-xxl 0;

    @include xs-only {
      padding: $spacing-xl 0;
      background-size: 170% 80%;
    }
    @include lg-up {
      padding: $spacing-xxl 0;
    }
    @include xl-up {
      padding: $spacing-xxxl 0;
    }
      @include xxxl-up {
        padding: 180px 0;
      }
      @include full-hd-up {
        padding: 200px 0;
      }
    }
}

.textAndPhotos {
  display: grid;
  grid-template-columns: 1fr;  
  gap: $spacing-xl; 

  @include sm-down{ 
    margin-top: 150px;
    justify-content: center;
  }
  @include sm-up {
    margin-top: 90px;
    gap: $spacing-xl;
    grid-template-columns: 2fr 1fr;
  }

  @include md-up {
    margin-top: 90px;
    gap: $spacing-xl;
    grid-template-columns: 2fr 1fr;
  }
  @include lg-up {
    margin-top: 90px;
    gap: $spacing-xxl;
  }
  @include xl-up {
    margin-top: 80px;
    gap: $spacing-xxl;
  }
  @include xxl-up {
    margin-top: 70px;
    gap: $spacing-xxxl; 
  }
  @include xxxl-up {
    margin-top: 60px;
    gap: $spacing-xxl; 
  }
  @include full-hd-up {
    margin-top: 30px;
    gap: $spacing-xxl; 
  }
}

.textBlock {
  @include t.gilroy-18;

  @include sm-down{ 
    text-align: center;
  }
}

.photosBlock {
  position: relative;
  min-height: 400px; 

  .photoWrapper {
    position: absolute;
    width: 250px;
    height: 150px;
    overflow: hidden;
    top: -30px;
    left: 20%;  
    z-index: 3;
    width: 1000px;  
    height: 750px; 


    @include sm-down {
      top: 80px;
      left: 0%; 
      width: 200px;
      height: 250px; 
    }
    @include sm-up {
      width: 200px;
      height: 250px; 
    }
    @include md-up {
      width: 250px;
      height: 300px; 
    }
    @include lg-up {
      width: 300px;
      height: 400px; 
    }
    @include xl-up {
      width: 350px;
      height: 450px; 
    }
    @include xxl-up {
      width: 400px;
      height: 500px; 
    }
    @include xxxl-up {
      width: 450px;
      height: 550px; 
    }
    @include full-hd-up {
      width: 500px;
      height: 600px;    
    }
  }

  @include xs-only {
    min-height: 300px; 
    
    .photoWrapper {
      width: 200px;  
      height: 250px;  
      
      top: 0;
      left: 20%;
    }
  }
}