// src/components/AnimatedWave/AnimatedWave.module.scss
@use '../../styles/variables' as *;  
@use '../../styles/mixins' as *;
@use '../../styles/typography' as t;

.animatedWaveContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -10;
    overflow: hidden;
    @include xs-only { 
        height: 300px;
    }
    @include sm-up {
        height: 500px;
    }
    @include md-up {
        height: 500px;
    }
    @include lg-up {
        height: 700px;
    }
    @include xl-up {
        height: 700px;
    }
    @include xxl-up {
        height: 790px;
    }
    @include full-hd-up {
        height: 930px;
    }
    // @include uhd-up {
    //     height: 1000px;
    // }
    // @include uhd-4k-up {
    //     height: 1200px;
    // }
}

.animatedWaveSvg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -100px; 
    left: 0;
}

.path1 {
    animation: pathAnim-1 10s linear infinite;
    transform-origin: 50% 50%;
}

.path2 {
    animation: pathAnim-2 14s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,700 L 0,175 C 85.37799043062199,152.41626794258372 170.75598086124398,129.83253588516746 278,112 C 385.244019138756,94.16746411483254 514.354066985646,81.08612440191388 615,113 C 715.645933014354,144.91387559808612 787.8277511961724,221.82296650717706 870,219 C 952.1722488038276,216.17703349282294 1044.3349282296651,133.62200956937798 1141,113 C 1237.6650717703349,92.37799043062202 1338.8325358851675,133.68899521531102 1440,175 L 1440,700 L 0,700 Z");
    }
    25% {
        d: path("M 0,700 L 0,175 C 77.95215311004787,154.15789473684208 155.90430622009575,133.3157894736842 247,114 C 338.09569377990425,94.68421052631581 442.334928229665,76.89473684210529 552,116 C 661.665071770335,155.1052631578947 776.7559808612441,251.1052631578947 886,242 C 995.2440191387559,232.8947368421053 1098.6411483253587,118.68421052631578 1190,90 C 1281.3588516746413,61.31578947368421 1360.6794258373207,118.15789473684211 1440,175 L 1440,700 L 0,700 Z");
    }
    50% {
        d: path("M 0,700 L 0,175 C 101.29186602870814,190.29186602870814 202.58373205741628,205.58373205741628 291,231 C 379.4162679425837,256.4162679425837 454.9569377990431,291.9569377990431 541,253 C 627.0430622009569,214.04306220095694 723.5885167464114,100.58851674641147 820,99 C 916.4114832535886,97.41148325358853 1012.688995215311,207.68899521531102 1116,239 C 1219.311004784689,270.311004784689 1329.6555023923445,222.6555023923445 1440,175 L 1440,700 L 0,700 Z");
    }
    75% {
        d: path("M 0,700 L 0,175 C 108.92822966507177,139.53588516746413 217.85645933014354,104.07177033492823 321,108 C 424.14354066985646,111.92822966507177 521.5023923444976,155.24880382775117 601,175 C 680.4976076555024,194.75119617224883 742.1339712918659,190.933014354067 829,205 C 915.8660287081341,219.066985645933 1027.9617224880383,251.01913875598086 1134,249 C 1240.0382775119617,246.98086124401914 1340.0191387559807,210.99043062200957 1440,175 L 1440,700 L 0,700 Z");
    }
    100% {
        d: path("M 0,700 L 0,175 C 85.37799043062199,152.41626794258372 170.75598086124398,129.83253588516746 278,112 C 385.244019138756,94.16746411483254 514.354066985646,81.08612440191388 615,113 C 715.645933014354,144.91387559808612 787.8277511961724,221.82296650717706 870,219 C 952.1722488038276,216.17703349282294 1044.3349282296651,133.62200956937798 1141,113 C 1237.6650717703349,92.37799043062202 1338.8325358851675,133.68899521531102 1440,175 L 1440,700 L 0,700 Z");
    }
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,700 L 0,408 C 71.76076555023923,465.5023923444976 143.52153110047846,523.0047846889952 257,488 C 370.47846889952154,452.99521531100476 525.6746411483255,325.4832535885167 622,323 C 718.3253588516745,320.5167464114833 755.7799043062201,443.0622009569378 829,459 C 902.2200956937799,474.9377990430622 1011.2057416267944,384.2679425837321 1119,358 C 1226.7942583732056,331.7320574162679 1333.3971291866028,369.86602870813397 1440,408 L 1440,700 L 0,700 Z");
    }
    25% {
        d: path("M 0,700 L 0,408 C 60.69856459330143,419.39712918660285 121.39712918660285,430.7942583732057 240,435 C 358.60287081339715,439.2057416267943 535.11004784689,436.22009569377997 628,446 C 720.88995215311,455.77990430622003 730.1626794258374,478.32535885167454 817,475 C 903.8373205741626,471.67464114832546 1068.2392344497607,442.4784688995216 1185,427 C 1301.7607655502393,411.5215311004784 1370.8803827751196,409.76076555023917 1440,408 L 1440,700 L 0,700 Z");
    }
    50% {
        d: path("M 0,700 L 0,408 C 92.84210526315792,402.7464114832536 185.68421052631584,397.49282296650716 292,390 C 398.31578947368416,382.50717703349284 518.1052631578947,372.7751196172249 619,371 C 719.8947368421053,369.2248803827751 801.8947368421053,375.4066985645933 874,375 C 946.1052631578947,374.5933014354067 1008.3157894736842,367.59808612440196 1101,372 C 1193.6842105263158,376.40191387559804 1316.842105263158,392.200956937799 1440,408 L 1440,700 L 0,700 Z");
    }
    75% {
        d: path("M 0,700 L 0,408 C 104.48803827751198,409.5023923444976 208.97607655502395,411.00478468899524 292,399 C 375.02392344497605,386.99521531100476 436.5837320574162,361.48325358851673 537,356 C 637.4162679425838,350.51674641148327 776.6889952153111,365.06220095693783 877,397 C 977.3110047846889,428.93779904306217 1038.6602870813397,478.267942583732 1126,483 C 1213.3397129186603,487.732057416268 1326.6698564593303,447.86602870813397 1440,408 L 1440,700 L 0,700 Z");
    }
    100% {
        d: path("M 0,700 L 0,408 C 71.76076555023923,465.5023923444976 143.52153110047846,523.0047846889952 257,488 C 370.47846889952154,452.99521531100476 525.6746411483255,325.4832535885167 622,323 C 718.3253588516745,320.5167464114833 755.7799043062201,443.0622009569378 829,459 C 902.2200956937799,474.9377990430622 1011.2057416267944,384.2679425837321 1119,358 C 1226.7942583732056,331.7320574162679 1333.3971291866028,369.86602870813397 1440,408 L 1440,700 L 0,700 Z");
    }
}